{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}

    {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
    {% endif %}

       
   
{% endblock %}
